<style type="text/css">{  }
html		{background-attachment:fixed;margin:0;}
a:link		{color:#003366;font-size:12px;font-family:VERDANA,ARIAL;font-weight:bold;text-decoration:none;}
a:visited	{color:#003366;font-size:12px;font-family:VERDANA,ARIAL;font-weight:bold;text-decoration:none;}
a:hover		{color:#336699;font-family:VERDANA,ARIAL;text-decoration:underline;}
a:active	{color:#003366;font-size:12px;font-family:VERDANA,ARIAL;text-decoration:underline;}
fieldset	{border-color:#993300;border:solid;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;}
table, td 	{ margin: 0px}
ol 		{display:inline, margin: 5px} 
li 		{display:inline, margin: 5px}
span		{display:inline}
p 		{text-indent: .2in}
blockquote	{margin-left: 15px; margin-right: 0px}


.black10{ font-family:VERDANA,ARIAL;color:#000000;font-size:10px;font-weight: none;letter-spacing:0px; display: inline}
.blue10	{ font-family:VERDANA,ARIAL;color:#003366;font-size:10px;font-weight: none;letter-spacing:0px; display: inline}
.grey10	{ font-family:VERDANA,ARIAL;color:#444444;font-size:10px;font-weight: none;letter-spacing:0px; display: inline}

.black11{ font-family:VERDANA,ARIAL;color:#000000;font-size:11px;font-weight: none;letter-spacing:0px; display: inline}
.blue11	{ font-family:VERDANA,ARIAL;color:#003366;font-size:11px;font-weight: none;letter-spacing:0px; display: inline}
.grey11	{ font-family:VERDANA,ARIAL;color:#444444;font-size:11px;font-weight: none;letter-spacing:0px; display: inline}
.red11	{ font-family:VERDANA,ARIAL;color:#993300;font-size:11px;font-weight: none;letter-spacing:0px; display: inline}
.mono11 { font-family:Lucida,Courier;color:000000;font-size:11px;font-weidht: none;letter-spacing:0px; display: inline}

.black12{ font-family:VERDANA,ARIAL;color:#000000;font-size:12px;font-weight: none;letter-spacing:0px; display: inline}
.blue12	{ font-family:VERDANA,ARIAL;color:#003366;font-size:12px;font-weight: none;letter-spacing:0px; display: inline}
.grey12	{ font-family:VERDANA,ARIAL;color:#444444;font-size:12px;font-weight: none;letter-spacing:0px; display: inline}
.red12	{ font-family:VERDANA,ARIAL;color:#993300;font-size:12px;font-weight: none;letter-spacing:0px; display: inline}

.black13{ font-family:VERDANA,ARIAL;color:#000000;font-size:13px;font-weight: none;letter-spacing:0px; display: inline}
.blue13	{ font-family:VERDANA,ARIAL;color:#003366;font-size:13px;font-weight: none;letter-spacing:0px; display: inline}
.grey13	{ font-family:VERDANA,ARIAL;color:#444444;font-size:13px;font-weight: none;letter-spacing:0px; display: inline}
.red13	{ font-family:VERDANA,ARIAL;color:#993300;font-size:13px;font-weight: none;letter-spacing:0px; display: inline}

.black14{ font-family:VERDANA,ARIAL;color:#000000;font-size:14px;font-weight: bold;letter-spacing:0px; display: inline}
.blue14	{ font-family:VERDANA,ARIAL;color:#003366;font-size:14px;font-weight: bold;letter-spacing:0px; display: inline}
.grey14	{ font-family:VERDANA,ARIAL;color:#444444;font-size:14px;font-weight: none;letter-spacing:0px; display: inline}
.red14	{ font-family:VERDANA,ARIAL;color:#993300;font-size:14px;font-weight: bold;letter-spacing:0px; display: inline}

.link11 	{ font-family:VERDANA,ARIAL;color:#003366;font-size:11px;font-weight: bold;}
.linkMenu 	{ font-family:VERDANA,ARIAL;color:#003366;font-size:12px;font-weight: none;text-decoration:none}

.title18 	{font-family:VERDANA,ARIAL;color:#000000;font-size:18px;font-weight: bold;letter-spacing:2px}
.title24 	{font-family:VERDANA,ARIAL;color:#000000;font-size:24px;font-weight: bold;letter-spacing:3px}
.title15	{font-family:VERDANA,ARIAL;color:#000000;font-size:13px;font-weight: bold;letter-spacing:2px}
-->
</style>
