---
layout: page
title: Program Information
permalink: /programinfo/
weight: 3
---
%p
  The Able Enrichment Centre is designed for students from grades 6 to 12.
  Our curriculum focuses on mental math and problem solving skills,
  covering a broad range of topics from basic algebra up to calculus. 

%p
  Our curriculum is available in PDF format. Click the link below to view.

%p
  %a{href: "/docs/AEC_curriculum_{{ site.registrationdate | date: '%y' }}.pdf"} {{ site.registrationdate | date: '%Y' }} AEC Curriculum
%p
  %a{href: "/docs/AEC_calendar_{{ site.registrationdate | date: '%y' }}.pdf"} {{ site.registrationdate | date: '%Y' }} AEC Calendar
