---
layout: page
title: Map
permalink: /map/
---

%p 
  The Able Enrichment Centre will be relocating effective February 2nd 2008.
  Our campus will be located at St. John's Ravenscourt School, 400 South Drive. 

%p
  For a closer up, interactive map click
  %a{href: 'http://maps.google.ca/maps?f=q&hl=en&geocode=&time=&date=&ttype=&q=St+John%27s+Ravenscourt+School,+400+South+Dr,+Winnipeg,+MB&sll=49.887425,-97.141589&sspn=0.007548,0.015042&ie=UTF8&om=0&safe=on&ll=49.847226,-97.127724&spn=0.015109,0.030084&z=15&iwloc=addr'} here
%img{src: 'map.jpg'}

%h2 Student Pick-Up/Drop-Off
%p
  Please enter from the south entrance and exit from the north. 
  Do not park at the entranceway or in the firelane.
  Please park on the east side of the school beside the arena. 

%p
  For a closer up, interactive map click
  %a{href: 'http://maps.google.ca/maps/ms?hl=en&ie=UTF8&msa=0&msid=115939626832319233951.0004564641af4436a4b8f&ll=49.843961,-97.123947&spn=0.009686,0.018239&z=15&source=embed'} here
%img{src: 'parking.jpg'}
